.category-cards {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: auto;
  align-items: center;
}

.btn-cart {
  cursor: pointer;
  text-decoration: none;
}

.homepage-category-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8rem 12rem;
}

.category-cards__sample {
  flex-grow: 1;
  width: 30rem;
  transition: all 200ms ease-in-out;
}

.category-cards__sample:hover {
  box-shadow: 0px 2px 8px rgb(0 0 0 / 16%);
  transform: scale(1.03);
}

.category-img {
  object-fit: contain;
}

.category-cards::-webkit-scrollbar {
  display: none;
}
