.home-categories__avatar-group {
  margin: 6rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 6rem;
  column-gap: 3rem;
}

.avatar > img {
  transition: all 250ms linear;
  border: 1px solid #eee;
}
.avatar > img:hover {
  transform: scale(1.03);
  border: 1px solid #ccc;
}
@media screen and (max-width: 768px) {
  .avatar {
    width: 16rem;
    height: 16rem;
  }
}

.avatar {
  text-align: center;
}

.category-avatar-placeholder {
  height: 17rem;
}

.placeholder {
  opacity: 0.2;
}
