.product-card-vertical {
  transition: all 140ms linear;
  padding: 0 0 2rem 0;
  box-shadow: none;
  margin: 5px 0;
  border: 1px solid #eee;
}

.product-card-vertical .card-basic--image {
  overflow: hidden;
}
.product-card-vertical img {
  object-fit: contain;
  transition: all 200ms linear;
}

.product-card-vertical img:hover {
  transform: scale(1.07);
}

.product-card-vertical:hover {
  box-shadow: 0 2px 9px 0 rgb(0 0 0 / 12%);
  border: 1px solid #ccc;
}

.card-overlay {
  position: absolute;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  background-color: var(--text-color-very-light-grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-text {
  background-color: var(--text-color-very-light-grey);
  font-weight: bolder;
}
